<% provide(:title, 'Edit Event') %>
<h1>Update Event</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@event) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.input :name %>

    <%= f.input :event_start, label: 'Start Date', start_year: Date.today.year, order: [:month, :day, :year] %>

    <%= f.input :event_end, label: 'End Date', start_year: Date.today.year, order: [:month, :day, :year] %>

    <%= f.input :description, :as => :text %>

    <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>