<h1>Listing Events</h1>

<table cellpadding="5">
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Start Date</th>
      <th align="left">End Date</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.event_start.strftime("%m/%d/%Y")%>
      <%= event.event_start.strftime("%I:%M %P")%></td>
      <td><%= event.event_end.strftime("%m/%d/%Y")%>
      <%= event.event_end.strftime("%I:%M %P")%></td>
      <td><%= link_to 'Show', event %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Event', newevent_path %>