<div class = "center hero-unit">
	<h1>Calendar</h1>
	<h2>
		<li><%= link_to "Create an Event", newevent_path %></li>
		
		<li><%= link_to "Prev", root_path(year: @date.year, month: @date.month-1)%>
			<%= @date.to_time.strftime('%B %Y') %>
			<%= link_to "Next", root_path(year: @date.year, month: @date.month+1)%></li>
		</h2>
		<% if @events.empty? == false %>
		<table align="center" cellpadding = "5">
			<thead>
				<tr>
					<th align="left">Name</th>
					<th align="left">Start Date</th>
					<th align="left">End Date</th>
				</tr>
				<tbody>
					<% @events.each do |event| %>
					<tr>
						<td align="left"><%= link_to event.name, event %></td>
						<td><%= event.event_start.strftime("%m/%d/%Y") %>
							<%= event.event_start.strftime("%I:%M %P") %></td>
							<td><%= event.event_end.strftime("%m/%d/%Y") %>
								<%= event.event_end.strftime("%I:%M %P") %></td>

								<%end%>
							</tbody>
						</table>
						<%end%>

						<% if @events.empty? == true %>
						There are not any events scheduled for this month.
						<%end%>
					</div>